html, body{
	height:100%;
	scroll-behavior: smooth;
	height:100%;
	overflow-x:hidden;
}
/* LAPTOP */
@media only screen and (min-width: 845px) {
	.boxes{
		display: flex; 
		flex-direction: row;
		justify-content: space-evenly;
	}
	.box-courses {
		background-color: #E0FBFC;
		color: #253237;
		padding: 1.5rem 2rem;   
		margin: 35px 35px ;
		width: 30%;
	}
	div.photoRow{
		display: flex; 
		flex-direction: row;
	}
	div.locationsRow{
		display: flex; 
		flex-direction: row;
	}
	img.travel{
		border-radius: 20px;
		margin: auto;
		margin-bottom: 15px;
		width: 25%;
		height: auto;
		object-fit: cover;
	}
	.page-section h3.section-subheading{/* Description after the Titles for each section*/
		font-size: 20px;
		margin-left: 35px;
		font-family:'Acme';
		text-align: left;
	}
}
/* PHONE */
@media only screen and (max-width: 845px) {
	.boxes{
		display: flex; 
		flex-direction: column;
		text-align: center;
		justify-content: space-evenly;
	}
	.box-courses {
		background-color: #E0FBFC;
		color: #253237;
		padding: 1.5rem 2rem;   
		margin-left: 35px;
		margin-right: 35px;
		margin-bottom: 15px;
	}
	div.photoRow{
		display: flex; 
		flex-direction: column;
	}
	div.locationsRow{
		display: flex; 
		flex-direction: column;
	}
	img.travel{
		border-radius: 20px;
		margin: auto;
		margin-bottom: 15px;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.page-section h3.section-subheading{/* Description after the Titles for each section*/
		font-size: 25px;
		margin-bottom: 35px;
		font-family:'Acme';
		text-align: left;
	}
} 


	/* 	 ADAM TAYABALI 
		text-align:  center;
        font-size:   65px;
        line-height: 75px;
	    word-spacing: 22px;
	    letter-spacing: 6px; 
        font-family:"Jost";
	    color: white;
        font-weight: bold;
		animation-name: drop;
		animation-duration: 1s;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
 hover
		transform: scale(1.2);
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 4px 4px 0 #000;		
@keyframes drop {
	0%{
		margin-bottom: 1000px;
	}
	100%{
		margin-bottom: 55px;
	}
} 
*/

.page-section{
	padding: 25px 0; 
	display: flex;
	flex-direction: column;
	color: #E0FBFC;
	background: #253237;
}

.page-section h2.section-heading{/* Title for each section - About, Projects*/
	font-size: 60px;
	margin-bottom: 25px;  
	font-family: Fjalla One; 
	text-align: center;
}
  




.box-courses p, li{
	font-family: "Inconsolata";
	font-size: 14px;
	font-weight: bold;
	text-align: start;
}

.box-courses h4{
	font-family:"Jost";
	text-decoration: underline;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

div.big-box{
	text-align: center;
	justify-content: center;
	margin-left: 35px;
	margin-right: 35px; 
	padding: 15px 15px 15px 15px;
	background-color: #E0FBFC;
	color: #333;
	display: flex;
	flex-direction: column;
}
div.big-box h4{
	font-family:"Jost";
	text-decoration: underline;		
	font-weight: bold;
	font-size: 24px;
}
div.big-box p{
	font-family: "Inconsolata";
	font-weight: bold;
}
div.big-box a{
	background-color: #333;
	margin: auto;
	font-family: "Inconsolata";
	font-weight: bold;
	font-size: 14px;
}

p.location{
	margin: auto;
}

/* --- Start progress bar --- */

.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
	background: linear-gradient(to right, deepskyblue 0%,#2ea3b7 100%); 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:25%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color: #2ea3b7;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:47px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#207893;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #207893;	 
	background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #f3f3f3;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
	text-align: left;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}


