html{
	height:100%;
	scroll-behavior: smooth;
}

body{
	height:100%;
	overflow-x:hidden;
	margin: 30px 50px;
	font-family:'Roboto Slab';
	align-items: center;
}

p{
   line-height:1.75;
}

a{
   color: black;
}
  
.text-primary{
	color:black   !important
}

h2, h3, h5, h6{
	font-weight:700;
	font-family:Montserrat;
	color: white; 
}


/* NAV stuff below*/
#mainNav{/* When just menu pops up	 */
	background-color: transparent;
}

#mainNav .navbar-toggler{/*  For menu that comes up when screen is smaller  not too important */
	display: none ;
/* 	font-size: 24px;
	text-transform: uppercase;
	color:   black;
	border: 0;
	font-family: Montserrat; */
} 
  
#mainNav .navbar-brand{ /* 	 For name in top left the one that i dont use */
	color: black;	
	font-family:'Kaushan Script';
}  

#mainNav .navbar-nav .nav-item .nav-link{/* 	 For About-Projects-Resume navigation at the top right */
	font-size: 90%;
	font-weight: 400;
	padding: .75em 0;
	letter-spacing: 1px;
	color: white;
	font-family: "DM Mono";
}

#mainNav .navbar-nav .nav-item .nav-link{
	padding:1.1em 1em!important
}

#mainNav.navbar-shrink{
	padding-top: 0;
	padding-bottom: 0;
	background-color: #212529;
}
  
#mainNav.navbar-shrink .navbar-brand{
	font-size:1.25em;
	padding:12px 0;
}
/* NAV stuff below*/




  
header.masthead{/*  The name and stuff,*/
   text-align: center;
   color: white;
/* 	position: relative; */
}


#homePage{
	background-size: cover;
	width: 100%;
	filter: blur(8px);
}

header.masthead .intro-text{
	padding-top: 75px;
	padding-bottom: 75px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}
  
header.masthead .intro-text .intro-lead-in h1{ /* 	 ADAM TAYABALI */
	font-size: 65px;
	line-height: 70px;
	margin-top: -35px;
	margin-bottom: 5px;
	margin-left: -25px;
	text-align: center;
	word-spacing: 10px;
    letter-spacing: 3px; 
	font-family:"Jost";
	color: white;
	font-weight: bold;
}
  
header.masthead .intro-text .intro-heading{/* Freelance, Web Dev*/
	display: none; 
	margin-left: -105px;
	font-size: 30px;
	line-height:50px;
	margin-bottom: 15px;
	font-family: "Inconsolata";
	word-spacing: 10px;
	margin-top: 15px;
	color: white;
}
  
@media (min-width: 770px){ /* laptop view	 600 px or bigger */
	.imageHold{
		background-image:url("./architecture-benches-buildings-business-876218.jpg");
		background-repeat:no-repeat;
		background-attachment: fixed;
		filter: blur(8px);/* Add the blur effect */
		-webkit-filter: blur(8px);     
		height: 100%; 
		background-position: 50% 50%; 
		background-size:cover;
	}
	
	header.masthead .intro-text{
		padding-top: 300px;
		padding-bottom: 200px;
	}
	
	header.masthead .intro-text .intro-lead-in h1{/* 	 ADAM TAYABALI */
		text-align:  center;
        font-size:   105px;
        line-height: 115px;
	    word-spacing: 22px;
	    letter-spacing: 6px; 
        font-family:"Jost";
	    color: white;
        font-weight: bold;
		animation-name: drop;
		animation-duration: 1s;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
	}
	header.masthead .intro-text .intro-lead-in h1:hover{/* 	 ADAM TAYABALI */
		transform: scale(1.2);
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 4px 4px 0 #000;
		
	}
	@keyframes drop {
		0%{
			margin-bottom: 1000px;
		}
		100%{
			margin-bottom: 55px;
		}
	}
	header.masthead .intro-text .intro-heading{ /*Freelance, Web Dev*/
		display: block;
		font-size: 35px;
		line-height:40px;
		margin-bottom: 0px;
		margin-left: -9px;
		text-align: left;
		color: white;
		font-family: "Inconsolata";
	}  
} /* end of media query */


/* Page stuff below */
.page-section{
	padding: 100px 0; 
}

.page-section h2.section-heading{/* Title for each section - About, Projects*/
	font-size: 60px;
	margin-bottom:15px;  
	text-align: left;
	margin-left: 40px; 
	font-family: Fjalla One; 

}
  
.page-section h3.section-subheading{/* Description after the Titles for each section*/
	font-size: 20px;
	text-align: left;
	margin-left: 55px;
	margin-right: 55px;
	margin-top: 25px; 
   
	color: white; 
	word-spacing: 2px;
    text-transform:none;
    font-family:'Acme';
	text-align: justify;
}

  
.wrapper{
   display: grid;
   grid-gap: 0px; 
}

.page1{/* section#about.page-section  */
	background-color: #b33939;
	color: white; 
}

.aboutBox{
	grid-area: aboutBox;
	margin-top: -50px;
}

/*  Use of CSS GRID for page 1/About section*/


.big-box {
    background-color: white;
	color: #b33939; 
    text-align: left;
    padding: 1.5rem 2rem;   
    box-shadow: var(--shadow);
    margin: 35px 35px ;
	width: 33%;
}

.big-box p, li{
	 font-family: "Inconsolata";
	font-weight: bold;
	font-size: 14px;
}

.big-box h4{
	font-family:"Jost";
	text-decoration: underline;
	font-weight: bold;
	font-size: 24px;
}

.boxes{
		display: flex; 
		flex-direction: row;
		justify-content: flex-end;
		
	}




/*  Use of CSS GRID for page 1/About section*/





.page2{/* section#projects.page-section  */
	 padding: 0;
	 background: #333;
	 justify-content: center;
	 align-items: center; 
	 font-family: "consolas";
	 color: white;
	
}
.projBox{
	margin-top: 50px;
}

