html{
	height:100%;
	scroll-behavior: smooth;
}

body{
	height:100%;
	overflow-x:hidden;
	margin: 30px 50px;
	font-family:'Roboto Slab';
	align-items: center;
}

p{
   line-height:1.75;
}

a{
   color: black;
}
  
.text-primary{
	color:black   !important
}

h2, h3, h5, h6{
	font-weight:700;
	font-family:Montserrat;
	color: white; 
}


/* NAV stuff below*/
#mainNav{/* When just menu pops up	 */
	background-color: transparent;
}

#mainNav .navbar-toggler{/*  For menu that comes up when screen is smaller  not too important */
	display: none ;
/* 	font-size: 24px;
	text-transform: uppercase;
	color:   black;
	border: 0;
	font-family: Montserrat; */
} 
  
#mainNav .navbar-brand{ /* 	 For name in top left the one that i dont use */
	color: black;	
	font-family:'Kaushan Script';
}  

#mainNav .navbar-nav .nav-item .nav-link{/* 	 For About-Projects-Resume navigation at the top right */
	font-size: 90%;
	font-weight: 400;
	padding: .75em 0;
	letter-spacing: 1px;
	color: white;
	font-family: "DM Mono";
}

#mainNav .navbar-nav .nav-item .nav-link{
	padding:1.1em 1em!important
}

#mainNav.navbar-shrink{
	padding-top: 0;
	padding-bottom: 0;
	background-color: #212529;
}
  
#mainNav.navbar-shrink .navbar-brand{
	font-size:1.25em;
	padding:12px 0;
}
/* NAV stuff below*/




  
header.masthead{/*  The name and stuff,*/
   text-align: center;
   color: white;
/* 	position: relative; */
}



.imageHold{
	background-image:url("./architecture-benches-buildings-business-876218.jpg");
	background-repeat:no-repeat;
/* 	background-attachment: fixed; */
    /* Add the blur effect */
    filter: blur(8px);
	-webkit-filter: blur(8px);     
	height: 100%; 
	padding: 335px 0 335px 0; 
/* 	width: 100%; */
	background-position: 50% 50%; 
/* 	background-size:cover; */
}
header.masthead .intro-text{
	padding-top: 75px;
	padding-bottom: 75px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}
  
header.masthead .intro-text .intro-lead-in h1{ /* 	 ADAM TAYABALI */
	font-size: 65px;
	line-height: 70px;
	margin-top: -35px;
	margin-bottom: 5px;
	margin-left: -25px;
	text-align: center;
	word-spacing: 10px;
    letter-spacing: 3px; 
	font-family:"Jost";
	color: white;
	font-weight: bold;
}
  
header.masthead .intro-text .intro-heading{/* Freelance, Web Dev*/
	display: none; 
	margin-left: -105px;
	font-size: 30px;
	line-height:50px;
	margin-bottom: 15px;
	font-family: "Inconsolata";
	word-spacing: 10px;
	margin-top: 15px;
	color: white;
}
  
@media (min-width: 770px){ /* laptop view	 600 px or bigger */
	.imageHold{
		background-image:url("./architecture-benches-buildings-business-876218.jpg");
		background-repeat:no-repeat;
		background-attachment: fixed;
		filter: blur(8px);/* Add the blur effect */
		-webkit-filter: blur(8px);     
		height: 100%; 
		background-position: 50% 50%; 
		background-size:cover;
	}
	
	header.masthead .intro-text{
		padding-top: 300px;
		padding-bottom: 200px;
	}
	
	header.masthead .intro-text .intro-lead-in h1{/* 	 ADAM TAYABALI */
		margin-top:  -285px;
		text-align:  left;
        font-size:   105px;
        line-height: 115px;
	    word-spacing: 22px;
	    letter-spacing: 6px; 
        margin-bottom: 25px;
        font-family:"Jost";
	    color: white;
        font-weight: bold;
	}
	header.masthead .intro-text .intro-heading{ /*Freelance, Web Dev*/
		display: block;
		font-size: 35px;
		line-height:40px;
		margin-bottom: 0px;
		margin-left: -9px;
		text-align: left;
		color: white;
		font-family: "Inconsolata";
	}  
} /* end of media query */


/* Page stuff below */
.page-section{
	padding: 100px 0; 
}

.page-section h2.section-heading{/* Title for each section - About, Projects*/
	font-size: 60px;
	margin-bottom:15px;  
	text-align: left;
	margin-left: 40px; 
	font-family: Fjalla One; 

}
  
.page-section h3.section-subheading{/* Description after the Titles for each section*/
	font-size: 20px;
	text-align: left;
	margin-left: 55px;
	margin-right: 55px;
	margin-top: 25px; 
    margin-bottom:75px;
	color: white; 
	word-spacing: 2px;
    text-transform:none;
    font-family:'Acme';
}

  
.wrapper{
   display: grid;
   grid-gap: 0px; 
}

.page1{/* section#about.page-section  */
	background-color: #b33939;
	color: white; 
}

.aboutBox{
	grid-area: aboutBox;
	margin-top: -50px;
}

/*  Use of CSS GRID for page 1/About section*/


.big-box {
    background-color: white;
	color: #b33939; 
    text-align: left;
    padding: 1.5rem 2rem;   
    box-shadow: var(--shadow);
    margin: 35px 35px;
}

.big-box p{
	 font-family: "Inconsolata";
	font-weight: bold;
	font-size: 14px;
}
.big-box h4{
	font-family:"Jost";
	text-decoration: underline;
	font-weight: bold;
	font-size: 24px;
}

@media (min-width: 1001px){ /* laptop view	 600 px or bigger */
.big-box-1{
	margin-left: 50px;
}
  
.big-box-2{
	margin-right: 25px;
	margin-left: 25px;
/* 	    text-align: center; */

} 

.big-box-3{
	margin-right: 50px;
} 
.boxes{
    display: grid; 
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin-top: -40px;
}
}
@media (max-width: 1000px){ /* smaller */
	.page-section h3.section-subheading{/* Description after the Titles for each section*/
	font-size: 20px;
	text-align: left;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px; 
    margin-bottom:75px;
	color: white; 
	word-spacing: 2px;
    text-transform:none;
    font-family:'Acme';
}
.big-box-1{
	margin-right: auto;
	margin-left: auto;

}
  
.big-box-2{
/* 	text-align: center; */

	margin-right: auto;
	margin-left: auto;
	margin-top: 75px;

} 

.big-box-3{
	margin-right: auto;
	margin-left: auto;
	margin-top: 75px;

} 
.boxes{
/*     display: grid;  */
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin-top: -40px;
}
}




/*  Use of CSS GRID for page 1/About section*/





.page2{/* section#projects.page-section  */
	 padding: 0;
	 background: #333;
	 justify-content: center;
	 align-items: center; 
	 font-family: "consolas";
	 color: white;
	
}
.projBox{
	margin-top: 50px;
}


 @media (min-width: 1001px){
	.container2{
	color: white;
	width: 100%; 
	position: relative; 
	display: flex; 
justify-content: space-around;		
	
}
	 .container2 .card{
	background: #333;
	position: relative;
	color: white;
	width: 20rem;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: -60px;
	margin-bottom: 5px;
	border-style: none;	
		display: flex;
}
	 
}
@media (max-width: 1000px){
	.container2{
	color: white;
	width: 100%; 
	position: relative; 
    justify-content: center;
    flex-direction: row;
/* 	justify-content: space-evenly; */
}
	
	.container2 .card{
	justify-content: center;		
	background: #333;
	position: relative;
	color: white;
	width: 20rem;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 15px;
	border-style: none;	
	display: flex;
}
	
} 


.container2 .card .card-img-top {
    height: 250px;
	z-index: 3;
}

.container2 .card .card-img-top:hover{
	transition: 0.5s;
}

.container2 .card .card-body{
	z-index: 1;
	color: white;
	transform: translateY(-200px);
	padding: 1.45rem;
}

.container2 .card .card-body:hover{
	transform: translateY(0px);
}

.container2 .card .btn{
	color: black;
	background-color: white;
}


.deepshadow {/* Effect on FreeLance Web Development Text*/
	color: #2c2c2c;
    letter-spacing: .1em;
    text-shadow: 
      4px 4px 0px #2c2c2c, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}
